.main-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top: -6vh;
    height: 100vh;
    color: gray;

    /* background-color: black; */
}

h1 {
    font-weight: 100;
}

.para {
    font-size: 20px;
    letter-spacing: 3px;
    /* word-spacing: 3px; */
    font-size: 30px;
    line-height: 88px;

}

.para h1::first-letter{
    font-weight: 100;
    font-size: 90px;
}

span {
    color: rgba(40, 40, 40, 0.921);
    font-weight: 500;
    font-size: 70px;
    /* letter-spacing: 0px; */
}

.picture {
    align-self: center;

    filter: drop-shadow(0px 0px 50px rgba(119, 119, 119, 0.259));
}


/* button{
    padding: 15px;
    font-size: 29px;
}  */


.button {
    margin-top: 45px; 
     margin-bottom: -19%;
}

.button button {
    margin: 0;
    background-color: white;

    /* background: linear-gradient(to right, rgb(255, 255, 255) 0%, rgb(94, 94, 94) 50%, rgb(250, 250, 250) 100%) 0% 0% / 500%; border: none; border-radius: 5rem; box-shadow: rgba(0, 0, 0, 0.15) 0px 0.5rem 1rem; color: rgb(255, 255, 255); cursor: pointer; font: 1.2em Raleway, sans-serif; -webkit-font-smoothing: antialiased; height: 5rem; letter-spacing: 0.05em; outline: none; -webkit-tap-highlight-color: transparent; user-select: none; width: 15rem; text-align: center; */

    /* border-radius: 22px; */
    /* border-radius: 10px; */
    /* border-top-right-radius:10px ;
    border-top-left-radius:10px; */
    border: none;
    color: rgba(128, 128, 128, 0.643);
    padding: 15px 15px;
    text-align: center;
    font-size: 36px;
    cursor: pointer;
    transition: all 0.1s;
    letter-spacing: 2px;

}
.button button:hover {
    /* background: rgba(128, 128, 128, 0.197); */
    /* background:whitesmoke; */
    background-color: rgba(245, 245, 245, 0.376);
    color: rgb(98, 98, 98);
    border-bottom: solid rgba(122, 122, 122, 0.433) 2px;
    /* border-bottom: solid rgba(61, 61, 61, 0) 3px; */
}




.social {
    margin-top: 65%;
    margin-bottom: -60%;
    display: flex;
    justify-content: flex-start;
    box-sizing: border-box;
}

.handles {
    width: 70%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    box-sizing: border-box;
    
}


.handle{
    box-sizing: border-box;
    height: 80%;
    
    /* background-color: beige; */
    
    text-align: center;
    justify-content: center;
    /* padding:2px; */
    
    /* border-radius: 30%; */
    /* border-bottom-right-radius: 0;
    border-bottom-left-radius: 0; */
    cursor: pointer;
    
    /* border-radius: 10%; */
    
    /* display: flex;    */

    transition: color 1s;
    a{
        color: rgba(105, 105, 105, 0.643);  
        font-size: 200%;

}
}
  

/* .handle:hover{
    a{
       
        color: rgb(98, 98, 98);
    }
    border-bottom: solid rgba(122, 122, 122, 0.433) 2px; 
} */
 
.instagram:hover {
    a{
       
        color: rgb(234, 96, 96);
    }

}

.Gmail:hover {
    a{
      
        color: rgba(18, 130, 31, 0.574);
    }



}

.Github:hover {
    a{
       
        color: rgba(10, 10, 10, 0.729);
    }

}


.linkdin:hover {
    a{
       
        color: rgba(17, 79, 204, 0.752);
    }
    
} 



/* //elements are shaking */
/* .handle:hover{
border-bottom: solid rgba(122, 122, 122, 0.433) 2px;
} */