*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
.nav-bar{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

.nav-items{
    flex-wrap:wrap;
    width: 25%;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
 
    

}

.nav-item{
    /* padding: 10px; */
    padding:0px 10px 3px 10px;
    /* height: 70px; */
    /* width: 30%; */
    border-radius:45px;
    /* border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    */
    cursor: pointer;
    transition: color 1s ease-in;
    
   
}

.nav-item:hover{
    /* box-shadow:
    0 0 10px rgba(59, 59, 59, 0.14); */
    /* 0 2.8px 2.2px rgba(119, 119, 119, 0.259); */
    /* 0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12); */

    /* filter: drop-shadow(0px 0px 50px rgba(119, 119, 119, 0.259));  */

    a{
        color:  rgba(40, 40, 40, 0.937);        
    }
    
}

a{
    text-decoration: none;
    color: gray;
    font-size: 20px;
    letter-spacing: 2px;
    transition: color 0.1s ;
}

