.footer{
    width: 100%;
    
    background-color: #4d4d4d35;
}
.cp{
    width: 100%;
    background-color: #4d4d4d35;
    padding: 20px 0px;
    font-weight: 300;
    position:  absolute;
    text-align: center;
    letter-spacing: 2px;
    word-spacing: 2px;
    animation: identifier 3s linear forwards;
}
@keyframes identifier {
    0%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
    
} 




